@charset "UTF-8";
/* CSS Document */

/*Nav Bar standaard throught out all*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  display: flex hidden;
  flex-direction: column;
}

/*Standardized things are:
Container
Nav*/



.container {
  display: flex;
  flex-direction: column;
}

/*| Navigation |*/

#imglogo {
  width: 110px;
  height: 110px;
  display: flex;
	flex-direction: row;
	flex: 1;
	
}

nav {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .1);
}

nav ul {
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  display: inline-table;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li:hover {
  background: rgba(0, 0, 0, .15);
}

nav ul li:hover>ul {
  display: block;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li a {
  display: flex;
  padding: 30px 20px;
  color: #222;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul ul {
  display: none;
  background: #fff;
  position: absolute;
  top: 100%;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .1);
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li a {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

/*Text Area*/
textarea{
	display: flex;
 width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*-----------------Button----*/

.button {
	display: inline-block;
	-moz-box-shadow: 0px 10px 20px 4px #276873;
	-webkit-box-shadow: 0px 10px 20px 4px #276873;
	box-shadow: 0px 10px 20px 4px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #00aaff));
	background:-moz-linear-gradient(top, #599bb3 5%, #00aaff 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #00aaff 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #00aaff 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #00aaff 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #00aaff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#00aaff',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px -4px 0px #3d768a;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00aaff), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #00aaff 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #00aaff 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #00aaff 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #00aaff 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #00aaff 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aaff', endColorstr='#599bb3',GradientType=0);
	background-color:#00aaff;
}
.button:active {
	position:relative;
	top:1px;
}


/*----------Uniqueness of every page------*/
/*---index----*/
.index {
	
}

#indexslideshowContainer {
  display: flex;
  position: relative;
  background-color: white;
  width: 100%;
}

#indexslideshow {
  background-color: white;
	overflow: hidden;
	width: 100%;
}

#indexpic {
	width: 100%;
	height:40%;
	align-content: center;
	transform: scale(1.0);
	opacity: 0.6;

}

#indextable {
	overflow-x: auto;
		white-space: nowrap;
	width: 50%;
	border: 0;
}

#indexproductDiv {
  display: flex;
  width: 100%;
  flex-direction: row;
	background-color: darkorange;
}

#indexsearchFilter {
  background-color: darkorange;
  display: flex;
  
  width: 1000%;
	
}

#indexresults {
  background-color: darkcyan;
  display: flex;

  width: 100%;

}

#submitButton {
	justify-content: center;
}
/*-----Fav Page-------*/

.fav {
	background-color: #FF9719;
}

#userInfo {
	display: flex;
	background-color: #01aaff;
	
}


#favbutton {
	display: flex;
	
}


#favfavorites {
	display: flex;
	background-color: #008B8B;
}


#favtable {
	overflow-x: auto;
	white-space: nowrap;
	width: 100%; 
	border: 0;
	display: flex;
	flex-direction: column;
	
}


/*-------Show----------*/
/*show class if needed*/
.show {
	
}

/* Showpage helping stuff */
.lineMeUp{
  display: flex;
  justify-content: space-around;
}

#showrestaurantName {
	background-color: darkcyan;
}

#showrestaurantContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	
	
}
/*image is the div background-image*/
#showrestaurant { 
	background-image: url("http://imgur.com/5f3WTBD.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	width: 115.9vw;
	

}


#showmaplocation {
	background-color: antiquewhite;
	display: flex;
	width: 115.9vw;
	
	
}

#showrestaurantResults {
	background-color: darkcyan;
	display: flex; 
	flex-direction: column;
}

#showcommentsSection{
	display: flex;
	width: 100%;
	background-color: darkcyan;
	justify-content: center  space-between;
	
}


#showcomments {
	display: flex; 
	background-color: darkorange;
	flex-direction: column;
	width: 100%;
	justify-content: center  space-between;

}

#showsubmitcommentbutton {
	display: flex;
	width: 15%;
	text-align: center
}

#showreplies{
	display: flex; 
	background-color: darkcyan;
	width: 100%;
	flex-direction: column;
	justify-content: center  space-between;
}





/*--------Sign-In------------*/

#signincontainer, body {
	
	background-color: darkorange;
	
}

.signin {
	display: flex;
	background-color: #FF9719;
}
#signinform {
	background-color: #FF9719;
}


/*--------Sign-up------------*/

.signup {
	display: flex;
	background-color: #FF9719;
}
#signupcontainer {
	background-color: #FF9719;}


@media (max-width: 420px){
	#indexproductDiv, #showrestaurantContainer {
		flex-direction: column;
		
	}
	
	#showrestaurant {
	flex-direction: column;
	}
/*
	.button {
		font-size: 20px;
	}
*/
}




/*Anything extra just refer to the page and then add in some things that come yo yoour mind.*/

/*
.commentSection, .costAndFavorite, .leaveAComment{
  display: flex;
  justify-content: center;
}
.topSecretInformation{
  display: none;
}*/
