<p>
    <%= @restaurant["name"] %>
</p>
<p><%= @restaurant["address"] %>
</p>
<img src="<%= @restaurant["img_url"] %>" alt="img">
</p>
<p> Cost for two: <%= @restaurant["cost"] %>*

Add to favorites:  <button> Save </button>
<div id="this">

</div>
