<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link href="untitled3.css" rel="stylesheet" type="text/css">
</head>

<body>


<div id="container">
  <nav role="navigation">
	  <img id="imglogo" src="http://i.imgur.com/oxokbLO.png">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Favorites</a>
      <ul>
        <li><a href="">Latest Restaurant</a></li>
      </ul>
    </li>

    <li><a href="#">Sign-In</a></li>
    <li><a href="#">Sign-Up</a></li>
  </ul>
</nav>


	<div id="slideshowContainer">

	<div id="slideshow"> <img src="../Pictures/Photos Library.photoslibrary/Masters/2017/03/25/20170325-030024/IMG_2688.JPG" width="640" height="458" alt=""/></div>
	</div>

	<div id="productDiv">



<div id="searchFilter">

<form action="/action_page.php">


		<select>
			<option>New York</option>

		</select>

<p>
  <label>
    <input type="radio" name="cuisinechoices" value="radio" id="cuisinechoices_0">
    BBQ</label>
  <br>
  <label>
    <input type="radio" name="cuisinechoices" value="radio" id="cuisinechoices_1">
    Bar Food</label>
  <br>
  <label>
    <input type="radio" name="cuisinechoices" value="radio" id="cuisinechoices_2">
    Carribean</label>
  <br>
  <label>
    <input type="radio" name="cuisinechoices" value="radio" id="cuisinechoices_3">
    Chinese</label>
  <br>
  <label>
    <input type="radio" name="cuisinechoices" value="radio" id="cuisinechoices_4">
    Italian</label>
  <br>
  <label>
    <input type="radio" name="cuisinechoices" value="radio" id="cuisinechoices_5">
    Japaneese</label>
  <br>
  <label>
    <input type="radio" name="cuisinechoices" value="radio" id="cuisinechoices_6">
    Tex-Mex</label>
  <br>
  <label>
    <input type="radio" name="cuisinechoices" value="radio" id="cuisinechoices_7">
    Sushi</label>
  <br>
  <label>
    <input type="radio" name="cuisinechoices" value="radio" id="cuisinechoices_8">
    Vegetarian</label>
  <br>
</p>

		<select>
			<option>$</option>
  			<option>$$</option>
  			<option>$$$</option>
  			<option>$$$$</option>
  			<option>$$$$$</option>

		</select>

<input type="submit">
</form>


	</div>

		<div id="results">
	<table width="550" border="0">
  <caption>
	  <h2> Search results that were choosen come here.</h2>
	  <h3>Click on the image to send to open up the restaurant</h3>
  </caption>
  <tbody>
    <tr>
		<td><a href="">im</a></td>
      <td>Name</td>
      <td>Address</td>
      <td>Phone</td>
      <td>Rating</td>
    </tr>
    <tr>
      <td>Pic</td>
      <td>Name</td>
      <td>Address</td>
      <td>Phone</td>
      <td>Rating</td>
    </tr>
    <tr>
      <td>Pic</td>
      <td>Name</td>
      <td>Address</td>
      <td>Phone</td>
      <td>Rating</td>
    </tr>
  </tbody>
</table>
		</div>

	</div>
	<div id="footer">

		<h1>this is the footer </h1>
	</div>
</div>
</body>
</html>
